/* Styles for my portal page */

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background: rgb(180, 180, 179);
}

#wrapper {
    max-width: 1200px;
    margin:20px auto;
}

nav {
    height: 60px;
    background: rgb(38, 87, 124);
    line-height: 60px;
    margin-bottom: 20px;
}

nav li {
    float: left;
    width:16.66%;    /* 100/6 */
    text-align: center;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
}

#hero {
    height: 300px;
    background-color: rgb(205, 145, 110);
    margin-bottom: 20px;
    padding: 20px;
}



main {
    width:62%;
    float: left;
}

aside {
    width: 35%;
    float: right;
}

.right {
    float: right;
    margin-left: 30px;
}

footer{
    height:60px;
    line-height:60px;
    background: rgb(38, 87, 124);
    clear: both;
}

footer ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li{
    justify-content: center;
    margin: 0 15px;
    color: aliceblue;
}

/* typorgraphy */

h1 {
    text-align: center;
    font-size: 3em;
    margin:20px 0;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 1.3em;
    font-family:'Times New Roman', Times, serif;
}

main img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

main h2, aside h2 {
    text-align: left;
    margin-top: 10px;
}

aside h3 {
    font-size: 1.5em;
    margin: 20px 20px;
}

aside li {
    font-size: 1.2em;
    margin:10px 50px;
    color:blue;
}

#hero h2, p {
    float: left;
    width: 600px;
    margin-left: 50px ;
    /* padding: 10px auto; */
}

#hero img {
    float: right;
    height: 250px;
    margin-right: 100px;
    border-radius: 50%;
    border: 2px solid white;
}

a:link {
    color:blue;
}
